.vcenter {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    border: 1px solid white;
}

nav {
    width: 425px;
}

nav ul li {
    list-style-type: none;
    flex-basis: 25%;
}



p {
    margin: 0;
}