.media {
    display: flex;
    flex-flow: row wrap;
}

.figure {
    flex: 1 1 30%;
    align-self: flex-start;
    order: 0;
}

img {
    height:  25%;
    width: 25%;
    padding-left: 10px;
}

.media-body {
    flex: 1 1 70%;
}

p {
    margin: 0 10px 20px 10px;
}